/* PROFILE CARD STYLESHEET */

.profile-card-container {
    position: relative;
}

.profile-bg-cover {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 64px;
    background: linear-gradient(-45deg, black 20%, rgb(52, 52, 52) 20%, rgb(52, 52, 52) 80%, black 80%);
    z-index: 0;
}